@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: url("/Dia 11/media/pokemon-secret-club-wallpaper-nov142019.jpg");
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_img {
    position: absolute;
    width: 100%;
    max-width: 120px;
    margin-top: 50%;
    margin-left: 30%;
}

.pokemon_info {
    position: absolute;
    margin-left: 38%;
    margin-top: -290px;
    font-weight: 600;
    font-size: 23px;
}

.pokemon_id {
    color: gray;
}