@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: url("/Dia 11/media/pokemon-secret-club-wallpaper-nov142019.jpg");
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon_img {
    position: absolute;
    width: 100%;
    max-width: 120px;
    margin-top: 50%;
    margin-left: 30%;
}

.pokemon_info {
    position: absolute;
    margin-left: 38%;
    margin-top: -290px;
    font-weight: 600;
    font-size: 23px;
}

.pokemon_id {
    color: gray;
}

.form {
    position: absolute;
    margin-left: 40px;
    margin-top: -220px; 
}

.input__search{
    width: 300px;
    font-size: 18px;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
    padding: 10px;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}
  
.btn-prev {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.btn-next {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
  
.btn-prev:active {
    font-size: 0.9rem;
}

.btn-next:active {
    font-size: 0.9rem;
}