@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');


html {
    background-color: black;
}

.title {
    color: white;
    font-family: 'Oxanium', cursive;
    font-size: 50px;
    text-align: center; 
}

.desc {
    color: white;
    font-family: 'Oxanium', cursive;
    font-size: 20px;
    text-align: center;
}
