@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

html {
    background-color: black;
}
    
.container {
    text-align: center;
    margin-top: 50px;
}
  
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(196, 29, 29);
    font-size: 16px;
    font-family: 'Oxanium', cursive;
    color: white;
    border-color: black;
    cursor: pointer;
}

.card {
    width: 100px;
    height: 150px;
    margin: 5px;
    border: 1px solid black;
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    border-radius: 6.5px;
}

.card:hover {
    cursor: pointer;
}