body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  button {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"] {
    margin-bottom: 10px;
  }
  
  .resetear {
    position: absolute;
    width: 120px;
    height: 40px;
    color: white;
    background-color: rgb(43, 43, 43);   
    border-radius: 0.7vh;
  }

  .guardar {
    position: absolute;
    margin-left: 13vh;
    width: 130px;
    height: 40px;
    color: white;
    background-color: rgb(40, 108, 255);  
    border-radius: 0.7vh; 
  }

  .salir {
    position: absolute;
    margin-left: 27vh;
    width: 120px;
    height: 40px; 
    color: white;
    background-color: rgb(253, 50, 50);  
    border-radius: 0.7vh;
  }
  
  .data-container {
    margin-top: 20px;
  }
  
  .data-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .data-row span {
    flex: 1;
    color: #333;
  }
  
  .data-row button {
    margin-left: 10px;
  }

  .fechaselect {
    position: relative;
    padding: 0.7vh;
    border-color: #ccc;
    border-style: solid;
    margin-top: 0.8vh;
    border-radius: 0.3vh;
    border-width: 1px;
    width: 55vh;
  }

  .barraselect {
    position: relative;
    padding: 0.7vh;
    border-color: #ccc;
    border-style: solid;
    margin-top: 0.8vh;
    border-radius: 0.3vh;
    border-width: 1px;
    width: 114vh;
    height: 4vh;
    background-color: white;
  }